
#overlay
#editor
  #fluo
  #fluo_editor
  .editor_buttons
    %a.ruote_button.ruote_go_button{ :title => 'close and use that definition', :href => '' }
    %a.ruote_button.ruote_cross_button{ :title => 'close', :href => '' }

:javascript

  $('textarea.variables').hide();

  $('#overlay').hide();
  $('#editor').hide();

  $('.editor_buttons a.ruote_go_button').on('click', function() {
    Editor.hide(true);
    return false;
  });
  $('.editor_buttons a.ruote_cross_button').on('click', function() {
    Editor.hide(false);
    return false;
  });

  var RkEditor = (function() {

    var self = this;

    this.init = function() {

      var tree = tree || #{sample_process_tree};
      var def = $('#tree').val();
      if (def.match(/\s*\[/)) tree = JSON.parse(def);

      RuoteFluoEditor.render('#fluo_editor', tree);
      RuoteFluo.render('#fluo', tree);

      $('#fluo_editor')[0].onChange = function(tree) {
        RuoteFluo.render('#fluo', tree);
      }
      $('#fluo_editor')[0].onOver = function(expid) {
        RuoteFluo.highlight('#fluo', expid);
      }
    }

    this.show = function() {

      $('#overlay').css('height', '' + $(document).height() + 'px');

      $('#overlay').slideDown(function() {
        $('#editor').show();
        RkEditor.init()
      });
    }

    this.hide = function(use) {

      $('#editor').hide();
      $('#overlay').hide();

      if (use) $('#tree').val(RuoteFluoEditor.asJson('#fluo_editor'));
    }

    return this;

  }).apply({});

