
%h1 errors

.flash
  .message
    - if @errors.empty?
      .warn
        %p There are currently no errors for the processes in the engine
    - else
      .notice
        %p Currently #{@errors.size} errors for the processes in the engine

%ul
  - @errors.each do |error|
    %li #{error.inspect}

