
- # under the MIT license, see LICENSE.txt

%h1 #{@code} #{@message}

- if @trace
  %pre.trace{ :onclick => 'Rk.toggleNext(this);' } #{h(@trace.first.split("\n").first + '...')}
  %pre.trace{ :onclick => 'Rk.toggleNext(this);', :style => 'display: none;' } #{h(@trace.join("\n"))}

%a{ :href => "javascript:history.go(-1)" } back

