
%h1 Launch a new process

%form{ :method => "POST", :action => "/_ruote/processes" }
  %div
    %label{ :for => "process_definition" } Process definition
    %textarea{ :name => "process_definition", :cols => 80, :rows => 10 }
    %span.description Provide your process definition here in any of the formats supported by ruote
  %div
    %label{ :for => "process_fields" } Process fields
    %textarea{ :name => "process_fields", :cols => 80, :rows => 10 }
    %span.description Provide process fields as a JSON string
  %div
    %label{ :for => "process_variables" } Process variables
    %textarea{ :name => "process_variables", :cols => 80, :rows => 10 }
    %span.description Provide process variables as a JSON string
  %div
    %input{ :type => "submit", "value" => "Launch" }
    or
    %a{ :href => "/_ruote/processes" } Cancel

