!!!
%html
  %head
    %title ruote-kit
    %link{ :type => "text/css", :href => "/_ruote/stylesheets/base.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/_ruote/stylesheets/style.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/_ruote/stylesheets/SimplyButtons.css", :rel => "stylesheet" }
    %link{ :type => "text/css", :href => "/_ruote/stylesheets/rk.css", :rel => "stylesheet" }
    %script{ :type => "text/javascript", :src => "/_ruote/javascripts/SimplyButtons.js" }
    - if @_uses_fluo
      %script{ :type => "text/javascript", :src => "/_ruote/javascripts/fluo-can.js" }
      %script{ :type => "text/javascript", :src => "/_ruote/javascripts/fluo-dial.js" }
      %script{ :type => "text/javascript", :src => "/_ruote/javascripts/fluo-json.js" }
      %script{ :type => "text/javascript", :src => "/_ruote/javascripts/fluo-tred.js" }

    :javascript
      window.onload = function() { SimplyButtons.init(); }
  %body
    #container
      #header
        %h1 ruote-kit
        #user-navigation
          %ul
            %li
              %a{ :href => "/_ruote/processes/new" } Launch a new process
        #main-navigation
          %ul
            = navigate_to "Processes", "/_ruote/processes"
            = navigate_to "Expressions", "/_ruote/expressions"
            = navigate_to "Workitems", "/_ruote/workitems"
          .clear
      #wrapper
        #main
          .block
            .content
              .inner= yield
      #footer
        .block
          %p
            &copy; 2009 Kenneth Kalmer
            |
            %a{ :href => "http://www.opensourcery.co.za" } Blog
            |
            %a{ :href => "http://github.com/kennethkalmer/ruote-kit" } Source
            |
            %a{ :href => "http://ruote.rubyforge.org" } Powered by ruote
