
- # under the MIT license, see LICENSE.txt

%h1 launch process

%form{ :method => 'POST', :action => '/_ruote/processes' }

  %div
    %label
      process definition
    %textarea{ :name => 'definition', :cols => 80, :rows => 10 } #{sample_process}

  %div
    %label
      workitem fields
    %textarea{ :name => 'fields', :cols => 80, :rows => 3 }

  %div
    %label.togglable{ :onclick => 'Rk.toggle(this, $("textarea.variables")[0], "(process variables)", "process variables");' }
      (process variables)
    %textarea.variables{ :name => 'variables', :cols => 80, :rows => 3 }

  %div
    %input{ :type => 'submit', 'value' => 'launch' }
    or
    %a{ :href => '/_ruote/processes' } cancel

:javascript

  $('textarea.variables').hide();

