
- # under the MIT license, see LICENSE.txt

- @_uses_fluo = true


%h1 launch process

%form{ :method => 'POST', :action => '/_ruote/processes', :enctype => 'multipart/form-data', :accept_charset => 'UTF-8' }

  %input{ :type => 'hidden', :name => '_snowman', :value => '&#9731;' }

  %div
    %label
      process definition
      %a.ruote_button.ruote_go_button{ :title => 'open process definition editor' }

    %textarea#tree{ :name => 'definition', :cols => 80, :rows => 10 } #{sample_process}

  %div
    %label
      workitem fields
    %textarea{ :name => 'fields', :cols => 80, :rows => 3 }

  %div
    %label.togglable
      (process variables)
    %textarea.variables{ :name => 'variables', :cols => 80, :rows => 3 }

  %div
    %input{ :type => 'submit', 'value' => 'launch' }
    or
    %a{ :href => '/_ruote/processes' } cancel

:javascript

  $('label.togglable').on('click', function(ev) {

    Rk.toggle(
      ev.target,
      $("textarea.variables")[0],
      "(process variables)",
      "process variables");
  });

  $('a.ruote_go_button').on('click', function(ev) {

    RkEditor.show();
    return false;
  });

= haml :_tree_editor, :layout => false

