
- # under the MIT license, see LICENSE.txt

- @_uses_fluo = true


%h1 launch process

%form{ :method => 'POST', :action => '/_ruote/processes', :enctype => 'multipart/form-data', :accept_charset => 'UTF-8' }

  %input{ :type => 'hidden', :name => '_snowman', :value => '&#9731;' }

  %div
    %label
      process definition
      %a.ruote_button.ruote_go_button{ :title => 'open process definition editor', :href => '', :onclick => 'showEditor(); return false;' }

    %textarea#definition{ :name => 'definition', :cols => 80, :rows => 10 } #{sample_process}

  %div
    %label
      workitem fields
    %textarea{ :name => 'fields', :cols => 80, :rows => 3 }

  %div
    %label.togglable{ :onclick => 'Rk.toggle(this, $("textarea.variables")[0], "(process variables)", "process variables");' }
      (process variables)
    %textarea.variables{ :name => 'variables', :cols => 80, :rows => 3 }

  %div
    %input{ :type => 'submit', 'value' => 'launch' }
    or
    %a{ :href => '/_ruote/processes' } cancel

#overlay
#editor
  %canvas#fluo
  #fluo_editor
  %a.ruote_button.ruote_go_button{ :title => 'close and use that definition', :href => '', :onclick => 'hideEditor(true); return false;' }
  %a.ruote_button.ruote_cross_button{ :title => 'close', :href => '', :onclick => 'hideEditor(false); return false;' }

:javascript

  $('textarea.variables').hide();

  $('#overlay').hide();
  $('#editor').hide();

  var initialTree = #{sample_process_tree};

  function initEditor () {

    var tree = initialTree;
    var def = $('#definition')[0].value;
    if (def.match(/\s*\[/)) tree = JSON.parse(def);

    FluoEditor.renderFlow('fluo_editor', tree);
    Fluo.renderFlow('fluo', tree);
    Fluo.crop('fluo');

    $('#fluo_editor')[0].onChange = function (tree) {
      Fluo.renderFlow('fluo', tree);
      Fluo.crop('fluo');
    }
    $('#fluo_editor')[0].onOver = function (expid) {
      Fluo.highlight('fluo', expid);
    }
  }

  function showEditor () {

    initEditor();

    $('#overlay').slideDown(function () { $('#editor').show(); });
  }

  function hideEditor (use) {

    $('#editor').hide();
    $('#overlay').hide();

    if (use) $('#definition')[0].value = FluoEditor.asJson('fluo_editor');
  }

