%h2 Workitems

- if @workitems.empty?
  .warn No workitems are currently available

- else
  .info #{ pluralize(@workitems.size, 'workitem') } available

  %ul
    - @workitems.each do |wi|
      %li
        = link_to wi
