%h2 Workitems not available

.flash
  .message.error
    %p
      RuoteKit hasn't been configured with a catchall participant, so the workitems resource is not available
      %a{ :href => "javascript:history.go(-1)" } Go back to the previous page
